<section className="page" id="projects">
    <div className="pageTitle" id="projectsTitle">
        <h1>Projects</h1>
    </div>
    
    <div className="pageContent" id="projectsContent">

        <!-- {projects.map((project, i) => 
            <div className="projectRow">
                <Project key={i} title={projects[i].title} link={projects[i].link} screenshot={projects[i].screenshot} description={projects[i].description} github={projects[i].github}/>
                <Project key={i} title={projects[i + 1].title} link={projects[i + 1].link} screenshot={projects[i + 1].screenshot} description={projects[i + 1].description} github={projects[i + 1].github}/>
            </div>
        )} -->
        
        <!-- Row one projects -->
        <div className="projectRow">

            <!-- <Project title={projects[0].title} link={projects[0].link} screenshot={projects[0].screenshot} description={projects[0].description} github={projects[0].github}/> -->

            <!-- <Project title={projects[1].title} link={projects[1].link} screenshot={projects[1].screenshot} description={projects[1].description} github={projects[1].github}/> -->

        </div>
        
        <!-- Row two projects -->
        <div className="projectRow">

            <!-- <Project title={projects[2].title} link={projects[2].link} screenshot={projects[2].screenshot} description={projects[2].description} github={projects[2].github}/> -->

            <!-- <Project title={projects[3].title} link={projects[3].link} screenshot={projects[3].screenshot} description={projects[3].description} github={projects[3].github}/> -->

        </div>

        <!-- Row three projects -->
        <div className="projectRow">

            <!-- <Project title={projects[4].title} link={projects[4].link} screenshot={projects[4].screenshot} description={projects[4].description} github={projects[4].github}/> -->

            <!-- <Project title={projects[5].title} link={projects[5].link} screenshot={projects[5].screenshot} description={projects[5].description} github={projects[5].github}/> -->

        </div>

        <!-- Row four projects -->
        <!-- <div className="projectRow">
            <Project title={projects[6].title} link={projects[6].link} screenshot={projects[6].screenshot} description={projects[6].description} github={projects[6].github}/>
            <Project title={projects[7].title} link={projects[7].link} screenshot={projects[7].screenshot} description={projects[7].description} github={projects[7].github}/>
        </div> -->

        <!-- Row five projects -->
        <!-- <div className="projectRow">
            <Project title={projects[8].title} link={projects[8].link} screenshot={projects[8].screenshot} description={projects[8].description} github={projects[8].github}/>
        </div> -->
        
    </div>
    
</section>