<section class="page" id="projects">
    <div class="pageTitle" id="projectsTitle">
        <h1>Projects</h1>
    </div>
    
    <div class="pageContent" id="projectsContent">
        <!-- <div *ngFor="let project of projects">
            <project [project]="project"></project>
        </div> -->
        
        <!-- Row one projects -->
        <div class="projectRow">
            <project [project]="projects[0]"></project>

            <project [project]="projects[1]"></project>
        </div>
        
        <!-- Row two projects -->
        <div class="projectRow">
            <project [project]="projects[2]"></project>

            <project [project]="projects[3]"></project>
        </div>

        <!-- Row three projects -->
        <div class="projectRow">
            <project [project]="projects[4]"></project>

            <!-- <project [project]="projects[5]"></project> -->
        </div>

        <!-- Row four projects -->
        <!-- <div class="projectRow">
            <project [project]="projects[6]"></project>

            <project [project]="projects[7]"></project>
        </div> -->

        <!-- Row five projects -->
        <!-- <div class="projectRow">
            <project [project]="projects[8]"></project>
        </div> -->
    </div>
</section>