h2 {
    text-align: center;
    background: none;
    color: var(--projectTitle);
    border-width: 0px;
    padding: 0px;
    margin: 6px;
}

p {
    height: 180px;
    overflow: scroll;
    border-radius: 0px;
    border-color: var(--cloudy);
    border-width: 1px 0px;
    margin: 0px;
    padding: 6px;
}

a {
    font-size: 16pt;
}

img {
    max-width: 100%;
    flex: 1 1;
    padding: 0;
    margin: 0;
    border-radius: 0px;
    border-width: 1px 0px 0px 0px;
    border-color: var(--cloudy);
}

.deployedProject {
    background-color: var(--pastelBlue);
    margin: 6px 3px 6px 6px;
    text-align: center;
    display: flex;
}

.deployedProject:hover {
    background-image: var(--blueGradient);
}

.github {
    background-color: var(--pastelGreen);
    margin: 6px 6px 6px 3px;
}

.github:hover {
    background-image: var(--greenGradient);
}

@media screen and (max-width: 768px) {
    p {
        height: 120px;
    }
}

@media screen and (max-width: 296px) {
    .deployedProject {
        margin: 6px;
    }

    .github {
        margin: 0px 6px 6px 6px;
    }
}